



<!-- Agregar las clases "custom-form" y "date" en los contenedores de los datos de usuario -->
<div class="profile">
  <form class="custom-form" >

    <h1>Profile:</h1>
    <p><strong style="font-weight: bold;">Email:</strong> {{currentUser.emailId}}</p>

  <p><strong style="font-weight: bold;">Email:</strong> {{currentUser.emailId}}</p>
  <p><strong style="font-weight: bold;">Username:</strong> {{currentUser.userName}}</p>
  <p><strong style="font-weight: bold;">Name:</strong> {{currentUser.name}}</p>
  <p><strong style="font-weight: bold;">Surname:</strong> {{currentUser.surname}}</p>
  <p><strong style="font-weight: bold;">Address:</strong> {{currentUser.address}}</p>
  <p><strong style="font-weight: bold;">Telefone:</strong> {{currentUser.telefone}}</p>

  <div class = "small">
<a class="main-menu-bt" [routerLink]="['/loginsuccess']">Volver al Menú</a>
<a class="change-password-bt" [routerLink]="['/change-password-after-login']">Cambiar Contraseña</a>


  </div>
</form>
</div>

