


.title-name{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #262525;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
}

.logo {
  flex: 1;
  text-align: center;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover {
  border-bottom: 2px solid #ffffff;
}

.nav-links li:first-child a {
  margin-right: 3rem;
}

.nav-links li:last-child a {
  margin-left: auto;
  margin-right: 10px;
}

.date{
  margin: 50px;
  position: absolute;
}