



<!-- Agregar las clases "custom-form" y "date" en los contenedores de los datos de usuario -->
<div class="container">
  <form class="custom-form" >

    <h1>Cambiar Contraseña:</h1>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Introduce Contraseña" name="password" [(ngModel)]="user.password" >
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirma Contraseña" name="newPassword" (ngModel)="user.password" >
    </div>

  <div class = "small">
    <a class="profile" [routerLink]="['/profile']">Volver al Perfil</a>


  </div>
</form>
</div>

